# Data Cleaning Notebook


## TODO: 
    * Work on aggregating the title.akas DF. Each movie has multiple rows so we need to determine how we want to 
      merge this into our main one as each movie will have multiple entries 
    * Work on merging the list of actors into our list. Need to get a list of the actors for a given movie, merge it, 
      then one-hot encode it. 
    * Figure out how to featurize the movie title, maybe NLP vector would be the best but thats somewhat complicated 
      Could do things like length of the title, whether it contains nouns, etc. 

This notebook contains the relevant code for aggregating our CSV's into a singular one that can then be used in our models. 

Contains the One-Hot encoding, and featurization of the columns.

In [42]:
import os
import pandas as pd 
import numpy as np 

#Descriptions of sets available at https://www.imdb.com/interfaces/

In [43]:
# Loading the Sets: 
sets = {} 

for file in os.listdir('DataSets'):
    file = file.replace('.tsv', '') 
    sets[file] = pd.read_csv(f"DataSets/{file}.tsv", sep='\t')
    if 'tconst' in sets[file].keys():
        sets[file].set_index('tconst',inplace=True)
    elif 'titleId' in sets[file].keys():
        sets[file].set_index('titleId', inplace=True) 
    else:
        print("Cant set index for ", file)
    print(f"Loaded {file}")
print("Loaded all datasets")

Loaded title.ratings
Loaded title.principals
Loaded title.akas
Cant set index for  name.basics
Loaded name.basics
Loaded title.basics
Loaded title.crew
Loaded all datasets

# What we need from each dataset: 
### title.akas 
    * Language
    * region 
### title.basics
    * titleType -> Used to only keep movies, used in filtering. We should filter before we split, etc. 
    * primaryTitle -> We only care about the most popular title so use this one 
    * isAdult -> Why not include these 
    * startYear -> Year movie released, good to see to potentially capture trends of a timeperiod 
    * runtimeMinutes -> Good to know for how long a movie is 
    * genres -> One hot encoding on the genres it has 
### title.crew 
    * directors -> One hot encoding on top 100 directors 
    * writers -> One hot encoding on top 100 writers 
### title.episode 
    * We dont care about episodes so skip this one 
### title.principals  - Info about cast / crew for titles 
    * nconst -> Useful for determining which actor is who. Can use this with one-hot encoding for each movie to 
                determine top 100 actors and whether or not they were in a movie or not 
### title.ratings 
    * averageRating -> Weight average of all individual ratings, used as our target variable 
    * numVotes -> The number of votes it received - useful to somehow include this in our target, would want to 
                  weight training samples with move votes w/ more importance, can be used with models that allow that 
### name.basics
    * Can potentially include this later on in our featurizations if we need info about the people, currently I think 
      just their unique id from title.principals should be more than enough to capture actors.

# Data Cleaning: 
    1) First get ids of all entries that are movies (So we are not including things that arent movies) 
    
    2) Then filter the raitings CSV to only include just movies, then move to actually just only keep the first X number of movies with a certain raitings count.

In [98]:
print("DFs we have loaded: ", sets.keys())

DFs we have loaded:  dict_keys(['title.ratings', 'title.principals', 'title.akas', 'name.basics', 'title.basics', 'title.crew'])

In [99]:
## FILTERING SO WE ONLY HAVE MOVIES: 
df = sets['title.basics']

# Keep only the rows that have a titleType of movie
df = df[df['titleType'] == 'movie']

# The row ids that are just movies 
movie_ids = list(df.index)
#first 10 just to make sure its ids 
print(movie_ids[:10])
print(len(movie_ids))

['tt0000502', 'tt0000574', 'tt0000591', 'tt0000615', 'tt0000630', 'tt0000675', 'tt0000679', 'tt0000739', 'tt0000793', 'tt0000814']
606395

In [100]:
# Shifting over to the title.ratings CSV to get the first X number of movies with the most reviews 
df = sets['title.ratings']

#Filtering the df to only include the ids that were explicitly movies 
df = df.loc[movie_ids]

# Sorting the df by numVotes so its from most number of reviews -> less 
df.sort_values(by='numVotes', inplace=True, ascending=False)
# I dont know why I hardcoded these but checks 100k to 20k in batches of 10k  
for splitter in [100000, 90000, 80000, 70000, 60000, 50000, 40000, 30000, 20000]:
    top = list(df['numVotes'][:splitter])
    print(f"Total number of movies: {splitter} : Lowest raiting count: {top[-1]}")


# We will go with 30k for now to keep it simple :) 
TOTAL_MOVIES_TO_KEEP = 70000

/Users/ryankennedy/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  """

Total number of movies: 100000 : Lowest raiting count: 130.0
Total number of movies: 90000 : Lowest raiting count: 166.0
Total number of movies: 80000 : Lowest raiting count: 216.0
Total number of movies: 70000 : Lowest raiting count: 288.0
Total number of movies: 60000 : Lowest raiting count: 395.0
Total number of movies: 50000 : Lowest raiting count: 569.0
Total number of movies: 40000 : Lowest raiting count: 870.0
Total number of movies: 30000 : Lowest raiting count: 1481.0
Total number of movies: 20000 : Lowest raiting count: 2997.0

In [101]:
# The ids that meet the criteria we are utilizing now in our main df. 
movie_ids = list(df['numVotes'][:TOTAL_MOVIES_TO_KEEP].index)
# Filter the DataFrame to only keep those ids :) 
print(df.shape)
df = df.loc[movie_ids]
print(df.shape)

# Our output final df, named final_df for ease. Contains the top 30k movies for the number of votes. 
final_df = df

(606395, 2)
(70000, 2)

In [102]:
#IGNORING AKA RIGHT NOW AS IT HAS DUPLICATES SO WE NEED TO FIGURE OUT WHETHER TO AGGREGATE OR NOT

# If we ever need to change the columns we are merging into it, do so here :) 
AKA_COLS = ['region', 'language'] 
BASICS_COLS = ['isAdult', 'startYear', 'runtimeMinutes', 'genres']

# Grab the respective dfs, only grab the rows that are our movie ids we have chosen to work with 
df_aka = sets['title.akas'].loc[movie_ids]
df_basic = sets['title.basics'].loc[movie_ids]

/Users/ryankennedy/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike

In [103]:
df_aka

,ordering,title,region,language,types,attributes,isOriginalTitle
titleId,,,,,,,
tt0111161,10.0,The Shawshank Redemption,AU,\N,imdbDisplay,\N,0
tt0111161,11.0,Rita Hayworth and Shawshank Redemption,US,\N,working,\N,0
tt0111161,12.0,Rastegari dar Shawshank,IR,fa,imdbDisplay,\N,0
tt0111161,13.0,Les Évadés,FR,\N,imdbDisplay,\N,0
tt0111161,14.0,Avain pakoon,FI,\N,alternative,\N,0
...,...,...,...,...,...,...,...
tt0086578,4.0,White Star,JP,ja,imdbDisplay,\N,0
tt0086578,5.0,White Star,\N,\N,original,\N,1
tt0086578,6.0,White Star,GB,\N,imdbDisplay,\N,0
tt0086578,7.0,Let It Rock,\N,\N,\N,\N,0
tt0086578,8.0,O Astro Selvagem,BR,\N,imdbDisplay,\N,0

In [104]:
# Filtering the dfs to only be the columns we are actually interested in 
df_aka = df_aka[AKA_COLS]
df_basic = df_basic[BASICS_COLS]

# Merging AKA and Basic  - ignoring right now 
# merged = df_aka.join(df_basic)

# Joining the merged above df into our final df 
# final_df = final_df.join(merged) 

final_df = final_df.join(df_basic) 

final_df

,averageRating,numVotes,isAdult,startYear,runtimeMinutes,genres
tconst,,,,,,
tt0111161,9.3,2569002.0,0,1994,142,Drama
tt0468569,9.1,2534021.0,0,2008,152,"Action,Crime,Drama"
tt1375666,8.8,2254701.0,0,2010,148,"Action,Adventure,Sci-Fi"
tt0137523,8.8,2021525.0,0,1999,139,Drama
tt0109830,8.8,1981606.0,0,1994,142,"Drama,Romance"
...,...,...,...,...,...,...
tt0022134,5.7,288.0,0,1931,70,"Drama,Romance"
tt5449088,5.9,288.0,0,2015,119,"Action,Comedy"
tt2671390,6.7,288.0,0,2013,95,"Drama,Romance"
tt0491321,6.1,288.0,0,1983,91,"Adventure,Comedy,Drama"
tt0086578,5.9,288.0,0,1983,92,"Drama,Music"

In [105]:
CREW_COLS = ['directors','writers']
# Merging The Crew df into our main Df: Should probably do one hot encoding here before we actually merge it but idk 
crew = sets['title.crew'].loc[movie_ids]
crew = crew[CREW_COLS]

final_df = final_df.join(crew)

In [106]:
final_df

,averageRating,numVotes,isAdult,startYear,runtimeMinutes,genres,directors,writers
tconst,,,,,,,,
tt0111161,9.3,2569002.0,0,1994,142,Drama,nm0001104,"nm0000175,nm0001104"
tt0468569,9.1,2534021.0,0,2008,152,"Action,Crime,Drama",nm0634240,"nm0634300,nm0634240,nm0275286,nm0004170"
tt1375666,8.8,2254701.0,0,2010,148,"Action,Adventure,Sci-Fi",nm0634240,nm0634240
tt0137523,8.8,2021525.0,0,1999,139,Drama,nm0000399,"nm0657333,nm0880243"
tt0109830,8.8,1981606.0,0,1994,142,"Drama,Romance",nm0000709,"nm0343165,nm0744839"
...,...,...,...,...,...,...,...,...
tt0022134,5.7,288.0,0,1931,70,"Drama,Romance",nm0782707,"nm0728307,nm0858501"
tt5449088,5.9,288.0,0,2015,119,"Action,Comedy",nm4060924,"nm7911206,nm2148630"
tt2671390,6.7,288.0,0,2013,95,"Drama,Romance","nm0042848,nm3403938",nm3403938
tt0491321,6.1,288.0,0,1983,91,"Adventure,Comedy,Drama",nm0862605,nm0876847
tt0086578,5.9,288.0,0,1983,92,"Drama,Music",nm0459426,"nm9218893,nm0459426,nm0901899"

In [107]:
# Grabs the top X number of categories, defaulted to 100. Utilized by our one-hot encoding system to
# determine what the most used number of categories are 
def top_categories(df, col_name, TOTAL_TO_KEEP = 100):
    """
        Provided a dataframe and the column name, returns the top 100 categories for this column 
        @param df: The DataFrame we are searching over 
        @param col_name: The column name we are examining the categories for 
        @param TOTAL_TO_KEEP: Constant specifying the total number of entries to keep. 
        :return A list of the top 100 categories for this column. 
    """
    frequencies = {}
    for entry in list(df[col_name]):
        if entry is np.nan:
            continue 
        # If we have a list of items iterate over each of them 
        if ',' in entry:
            for entry_sub in entry.split(','):
                if entry_sub in frequencies:
                    frequencies[entry_sub] += 1
                else:
                    frequencies[entry_sub] = 1 
        else:
            # Just a singular item so can compare it here directly. 
            if entry in frequencies:
                frequencies[entry] += 1
            else:
                frequencies[entry] = 1 
    
    lof_frequencies = []
    for key in frequencies.keys():\
        lof_frequencies.append( (key, frequencies[key]) )
    lof_frequencies.sort(key = (lambda pair: pair[1]))
        
    return [pair[0] for pair in lof_frequencies[:TOTAL_TO_KEEP]]


def encode_row(row, category):
    """
        Encodes a specific row / entry in our dataframe. If the row is a list, checks to see if the 
        category value exists in it, if it is not a list just checks to see if the row is equal to the category 
    """
    if ',' in row:
        return 1 if category in row.split(',') else 0 
    else:
        return 1 if category == row else 0 

def encode_non_categorical_row(row, lof_categories):
    """
        Encodes a row specifically looking to see if the value is not in our list of categories. If any of the 
        values does not exist in our list of categories return 1, else 0 
    """
    if ',' in row:
        for category in lof_categories:
            if category in row:
                return 1
        return 0 
    else: 
        return 1 if row not in lof_categories else 0 

# Converts a specific column to a one-hot encoding version of it.
def encode_column(df, col_name, TOTAL_TO_KEEP = 100):
    df = df.copy()
    """
        Provided a dataframe and column to encode, mutates a copy of the dataframe to have that a one-hot encoding of that 
        specific column. Will remove that specific column from the dataframe and replace it with TOTAL_TO_KEEP 
        columns for that value plus one more column to handle any categorical variable that was not in the top 
        TOTAL_TO_KEEP categories. 
        
        @param df: The dataframe we are mutating 
        @param col_name: The column we are encoding, this column is removed from the df and replaced with the encodings
        @param TOTAL_TO_KEEP: Number of categories we want to display, defaulted to 100 
        :return A Copy of the dataframe with the encoding 
    """
    categories = top_categories(df, col_name, TOTAL_TO_KEEP=TOTAL_TO_KEEP)
    
    # Our encoded columns for the dataset goes here 
    encoded_cols = {}
    
    lof_column = list(df[col_name])
    
    for category in categories: 
        encoded_column = [encode_row(row, category) for row in lof_column]
        
        encoded_col_name = f"{col_name}_{category}"
        df[encoded_col_name] = encoded_column
    # If any of the entries is not in our lof-categories featurize this under the non_100 category 
    df[f"{col_name}_non_100_category"] = [encode_row(row, categories) for row in lof_column]
    df.drop(columns=[col_name], inplace=True)
    return df

In [108]:
# The purpose of this is to turn any string columns into integers so they aren't encoded
# TODO: Setting the value to 0 is incomplete. Find the mean first and set it after (this is difficult as it needs a numeric value before mean can be found)
final_df['startYear'] = final_df['startYear'].replace("\\N", np.NaN)
final_df['startYear'] = pd.to_numeric(final_df['startYear'])
final_df['startYear'] = final_df['startYear'].replace("\\N", final_df['startYear'].mean())

final_df['runtimeMinutes'] = final_df['runtimeMinutes'].replace("\\N", np.NaN)
final_df['runtimeMinutes'] = pd.to_numeric(final_df['runtimeMinutes'])
final_df['runtimeMinutes'] = final_df['runtimeMinutes'].replace(np.NaN, final_df['runtimeMinutes'].mean())

In [109]:
# TODO - Dont run one-hot encoding on the title / movie title, find different way to featurize this.
# COMMENTS ON WORK: I wanted to also try to encode regions but I noticed that pretty much most movies on this are available in most regions. They probably wouldn't really be useful features.
final_df

,averageRating,numVotes,isAdult,startYear,runtimeMinutes,genres,directors,writers
tconst,,,,,,,,
tt0111161,9.3,2569002.0,0,1994.0,142.0,Drama,nm0001104,"nm0000175,nm0001104"
tt0468569,9.1,2534021.0,0,2008.0,152.0,"Action,Crime,Drama",nm0634240,"nm0634300,nm0634240,nm0275286,nm0004170"
tt1375666,8.8,2254701.0,0,2010.0,148.0,"Action,Adventure,Sci-Fi",nm0634240,nm0634240
tt0137523,8.8,2021525.0,0,1999.0,139.0,Drama,nm0000399,"nm0657333,nm0880243"
tt0109830,8.8,1981606.0,0,1994.0,142.0,"Drama,Romance",nm0000709,"nm0343165,nm0744839"
...,...,...,...,...,...,...,...,...
tt0022134,5.7,288.0,0,1931.0,70.0,"Drama,Romance",nm0782707,"nm0728307,nm0858501"
tt5449088,5.9,288.0,0,2015.0,119.0,"Action,Comedy",nm4060924,"nm7911206,nm2148630"
tt2671390,6.7,288.0,0,2013.0,95.0,"Drama,Romance","nm0042848,nm3403938",nm3403938
tt0491321,6.1,288.0,0,1983.0,91.0,"Adventure,Comedy,Drama",nm0862605,nm0876847
tt0086578,5.9,288.0,0,1983.0,92.0,"Drama,Music",nm0459426,"nm9218893,nm0459426,nm0901899"

(3825957, 337)

In [110]:
### Encoding of title.principals to get the actors for a movie 
df = sets['title.principals']
# Filtering actors to just be the 
df = df.loc[movie_ids]

## We already encoded directors / writers so drop these from our table 
df = df.loc[(df['category'] != 'director') & (df['category'] != 'writer')]

# Grab the top 100 most common actors 
top_actors = top_categories(df, 'nconst')

df

/Users/ryankennedy/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  after removing the cwd from sys.path.

           ordering     nconst  category job                    characters
tconst
tt0111161      10.0  nm0290358    editor  \N                            \N
tt0111161       1.0  nm0000209     actor  \N             ["Andy Dufresne"]
tt0111161       2.0  nm0000151     actor  \N  ["Ellis Boyd 'Red' Redding"]
tt0111161       3.0  nm0348409     actor  \N             ["Warden Norton"]
tt0111161       4.0  nm0006669     actor  \N                   ["Heywood"]
...             ...        ...       ...  ..                           ...
tt0086578       2.0  nm0730181     actor  \N            ["Moody Mudinsky"]
tt0086578       3.0  nm0842228   actress  \N                    ["Mascha"]
tt0086578       4.0  nm0381450     actor  \N                     ["Frank"]
tt0086578       8.0  nm1569037  composer  \N                            \N
tt0086578       9.0  nm0119573  composer  \N                            \N

[508214 rows x 5 columns]

In [111]:
# group = df.groupby('nconst')
# top = group.sum().sort_values(by='ordering', ascending=False)
# top_actors = list(top.index)[:100]

['tt0111161',
 'tt0468569',
 'tt1375666',
 'tt0137523',
 'tt0109830',
 'tt0110912',
 'tt0133093',
 'tt0120737',
 'tt0068646',
 'tt0167260',
 'tt0816692',
 'tt1345836',
 'tt0167261',
 'tt0114369',
 'tt1853728',
 'tt0172495',
 'tt0372784',
 'tt0361748',
 'tt0102926',
 'tt0848228',
 'tt0120815',
 'tt0993846',
 'tt0076759',
 'tt0108052',
 'tt0482571',
 'tt0407887',
 'tt0120689',
 'tt1130884',
 'tt0080684',
 'tt0071562',
 'tt0209144',
 'tt0499549',
 'tt7286456',
 'tt0088763',
 'tt2015381',
 'tt0169547',
 'tt0120338',
 'tt0110413',
 'tt0099685',
 'tt0434409',
 'tt0120586',
 'tt0266697',
 'tt0910970',
 'tt0325980',
 'tt0103064',
 'tt0114814',
 'tt4154796',
 'tt0120382',
 'tt0371746',
 'tt0110357',
 'tt0086190',
 'tt0112573',
 'tt0266543',
 'tt1049413',
 'tt4154756',
 'tt1431045',
 'tt0105236',
 'tt0081505',
 'tt0073486',
 'tt0338013',
 'tt0167404',
 'tt1392190',
 'tt0114709',
 'tt2267998',
 'tt0107290',
 'tt0082971',
 'tt0477348',
 'tt0119217',
 'tt0264464',
 'tt0268978',
 'tt2488496',
 'tt1392170',
 'tt0198781',
 'tt0095016',
 'tt0078748',
 'tt1201607',
 'tt0088247',
 'tt0208092',
 'tt1010048',
 'tt1675434',
 'tt2395427',
 'tt3659388',
 'tt1300854',
 'tt0180093',
 'tt0458339',
 'tt0800369',
 'tt1843866',
 'tt0435761',
 'tt1454468',
 'tt0066921',
 'tt0086250',
 'tt2582802',
 'tt0903624',
 'tt0253474',
 'tt0416449',
 'tt0075314',
 'tt0145487',
 'tt1228705',
 'tt0118715',
 'tt0246578',
 'tt0120915',
 'tt2278388',
 'tt1663202',
 'tt1119646',
 'tt0121766',
 'tt0050083',
 'tt1205489',
 'tt0401792',
 'tt0770828',
 'tt3498820',
 'tt0241527',
 'tt0083658',
 'tt2084970',
 'tt0947798',
 'tt0211915',
 'tt0060196',
 'tt0317248',
 'tt0097576',
 'tt0480249',
 'tt0378194',
 'tt6751668',
 'tt0245429',
 'tt3315342',
 'tt0093058',
 'tt0892769',
 'tt1825683',
 'tt0317705',
 'tt0090605',
 'tt1045658',
 'tt0382932',
 'tt1877832',
 'tt0383574',
 'tt3501632',
 'tt1211837',
 'tt0121765',
 'tt2975590',
 'tt2024544',
 'tt2096673',
 'tt1074638',
 'tt7131622',
 'tt1285016',
 'tt1270798',
 'tt1392214',
 'tt0118799',
 'tt0405159',
 'tt0117951',
 'tt1386697',
 'tt1504320',
 'tt1136608',
 'tt2543164',
 'tt0116282',
 'tt0126029',
 'tt1981115',
 'tt0457430',
 'tt1631867',
 'tt0054215',
 'tt2802144',
 'tt1951264',
 'tt0062622',
 'tt0078788',
 'tt0816711',
 'tt3896198',
 'tt0381061',
 'tt1170358',
 'tt1670345',
 'tt0478970',
 'tt0948470',
 'tt0451279',
 'tt0421715',
 'tt0113277',
 'tt0449088',
 'tt0316654',
 'tt5013056',
 'tt0440963',
 'tt0418279',
 'tt2250912',
 'tt0988045',
 'tt0369610',
 'tt2562232',
 'tt0454876',
 'tt0780504',
 'tt0107048',
 'tt0295297',
 'tt0304141',
 'tt0758758',
 'tt2294629',
 'tt2527336',
 'tt0114746',
 'tt0330373',
 'tt1024648',
 'tt2911666',
 'tt3748528',
 'tt0120903',
 'tt1637725',
 'tt0796366',
 'tt1446714',
 'tt0936501',
 'tt1798709',
 'tt8946378',
 'tt0234215',
 'tt0073195',
 'tt3460252',
 'tt0162222',
 'tt10872600',
 'tt0413300',
 'tt0119488',
 'tt0120735',
 'tt0469494',
 'tt1276104',
 'tt0120363',
 'tt3783958',
 'tt0116629',
 'tt0373889',
 'tt0829482',
 'tt1219289',
 'tt0144084',
 'tt0364569',
 'tt1156398',
 'tt0034583',
 'tt0075148',
 'tt5052448',
 'tt0332280',
 'tt0240772',
 'tt0119654',
 'tt1250777',
 'tt0099785',
 'tt5463162',
 'tt0365748',
 'tt1232829',
 'tt8579674',
 'tt10811166',
 'tt0409459',
 'tt0290334',
 'tt0181689',
 'tt0258463',
 'tt0450259',
 'tt1856101',
 'tt1160419',
 'tt1323594',
 'tt0071853',
 'tt0343818',
 'tt0926084',
 'tt4154664',
 'tt0417741',
 'tt1343092',
 'tt0470752',
 'tt0332452',
 'tt0443706',
 'tt2872718',
 'tt1318514',
 'tt0096874',
 'tt1396484',
 'tt0467406',
 'tt1727824',
 'tt1483013',
 'tt2310332',
 'tt1298650',
 'tt0945513',
 'tt3890160',
 'tt0376994',
 'tt1570728',
 'tt0112641',
 'tt6644200',
 'tt0242653',
 'tt0095953',
 'tt1022603',
 'tt2119532',
 'tt1659337',
 'tt0425112',
 'tt0458525',
 'tt0454921',
 'tt1663662',
 'tt0206634',
 'tt1411697',
 'tt1457767',
 'tt5027774',
 'tt2872732',
 'tt4633694',
 'tt0356910',
 'tt1872181',
 'tt1229238',
 'tt11286314',
 'tt0289879',
 'tt0047396',
 'tt1408101',
 'tt2948356',
 'tt0057012',
 'tt0087469',
 'tt0790636',
 'tt0099487',
 'tt0800080',
 'tt0314331',
 'tt4972582',
 'tt2179136',
 'tt0448157',
 'tt1800241',
 'tt2380307',
 'tt0268380',
 'tt2713180',
 'tt0097165',
 'tt0449059',
 'tt1979320',
 'tt0367594',
 'tt1291584',
 'tt0119116',
 'tt6723592',
 'tt1270797',
 'tt6966692',
 'tt1895587',
 'tt0372183',
 'tt1430132',
 'tt6320628',
 'tt1568346',
 'tt0441773',
 'tt1099212',
 'tt1790864',
 'tt1840309',
 'tt0298148',
 'tt1535109',
 'tt3183660',
 'tt1454029',
 'tt0327056',
 'tt0367882',
 'tt2245084',
 'tt0362227',
 'tt1515091',
 'tt0887912',
 'tt1951265',
 'tt0335266',
 'tt0038650',
 'tt1499658',
 'tt0830515',
 'tt1535108',
 'tt0319262',
 'tt0101414',
 'tt0974015',
 'tt2980516',
 'tt1477834',
 'tt0407304',
 'tt0398286',
 'tt1723121',
 'tt0319061',
 'tt0099088',
 'tt0033467',
 'tt0375679',
 'tt2103281',
 'tt0217505',
 'tt2379713',
 'tt0325710',
 'tt2527338',
 'tt0405422',
 'tt0382625',
 'tt0139654',
 'tt3385516',
 'tt0093779',
 'tt1677720',
 'tt0120616',
 'tt0765429',
 'tt0120591',
 'tt0360717',
 'tt1605783',
 'tt3397884',
 'tt0446029',
 'tt1596363',
 'tt0117060',
 'tt0780536',
 'tt4425200',
 'tt1772341',
 'tt0217869',
 'tt0387564',
 'tt1210166',
 'tt0084787',
 'tt5580390',
 'tt3170832',
 'tt0831387',
 'tt1014759',
 'tt0091763',
 'tt1259521',
 'tt0119567',
 'tt0458352',
 'tt1245492',
 'tt0942385',
 'tt0317219',
 'tt0087332',
 'tt0289043',
 'tt0105695',
 'tt0337978',
 'tt1055369',
 'tt1399103',
 'tt1637688',
 'tt1217209',
 'tt0103639',
 'tt0443453',
 'tt0093773',
 'tt0163651',
 'tt0083866',
 'tt0315327',
 'tt0181852',
 'tt0052357',
 'tt0351283',
 'tt0086879',
 'tt1060277',
 'tt0092005',
 'tt0079470',
 'tt1690953',
 'tt0070047',
 'tt0363771',
 'tt1355644',
 'tt0369339',
 'tt1905041',
 'tt0032138',
 'tt0265086',
 'tt0099674',
 'tt0088847',
 'tt1187043',
 'tt2820852',
 'tt1282140',
 'tt0405094',
 'tt0119174',
 'tt0493464',
 'tt0349903',
 'tt0112864',
 'tt0840361',
 'tt0361862',
 'tt0119698',
 'tt0232500',
 'tt0347149',
 'tt0109686',
 'tt0110475',
 'tt1596343',
 'tt5095030',
 'tt1190080',
 'tt1517451',
 'tt12361974',
 'tt1542344',
 'tt1302006',
 'tt0377092',
 'tt0119094',
 'tt0096895',
 'tt2294449',
 'tt0443543',
 'tt2582846',
 'tt1587310',
 'tt0120912',
 'tt0478311',
 'tt0454848',
 'tt2584384',
 'tt2381249',
 'tt2283362',
 'tt1950186',
 'tt0455944',
 'tt0317740',
 'tt0408236',
 'tt1632708',
 'tt0118971',
 'tt0964517',
 'tt1371111',
 'tt0230600',
 'tt0438488',
 'tt0099423',
 'tt0286106',
 'tt0328107',
 'tt1068680',
 'tt1409024',
 'tt0338751',
 'tt0111257',
 'tt1182345',
 'tt1706620',
 'tt0162661',
 'tt1650062',
 'tt0395169',
 'tt1065073',
 'tt0396269',
 'tt0363163',
 'tt0357413',
 'tt0388795',
 'tt1453405',
 'tt0317919',
 'tt0343660',
 'tt0166924',
 'tt1907668',
 'tt0091042',
 'tt3480822',
 'tt0081398',
 'tt1490017',
 'tt0104431',
 'tt1748122',
 'tt0087843',
 'tt0298130',
 'tt9376612',
 'tt1320253',
 'tt0119396',
 'tt0496806',
 'tt1231583',
 'tt0477347',
 'tt0047478',
 'tt2194499',
 'tt0113497',
 'tt2382320',
 'tt0360486',
 'tt0120755',
 'tt0910936',
 'tt1403865',
 'tt0077416',
 'tt0790724',
 'tt0117500',
 'tt1193138',
 'tt1104001',
 'tt0117571',
 'tt0120601',
 'tt0120663',
 'tt0212338',
 'tt3778644',
 'tt0822854',
 'tt0147800',
 'tt0887883',
 'tt0213149',
 'tt1306980',
 'tt1646971',
 'tt0107688',
 'tt0096283',
 'tt0120667',
 'tt2788710',
 'tt1707386',
 'tt0238380',
 'tt0462538',
 'tt0389860',
 'tt0368891',
 'tt6146586',
 'tt0092099',
 'tt0100802',
 'tt2737304',
 'tt0167190',
 'tt0064116',
 'tt6264654',
 'tt0878804',
 'tt0053125',
 'tt0433035',
 'tt1041829',
 'tt4912910',
 'tt6334354',
 'tt0970179',
 'tt0071315',
 'tt0209163',
 'tt3521164',
 'tt2106476',
 'tt1951266',
 'tt1179933',
 'tt4649466',
 'tt0448115',
 'tt0100405',
 'tt0110148',
 'tt2322441',
 'tt0399201',
 'tt0386588',
 'tt0163025',
 'tt1037705',
 'tt3799694',
 'tt0056592',
 'tt2798920',
 'tt0359950',
 'tt0944835',
 'tt0425210',
 'tt2109248',
 'tt0399295',
 'tt1951261',
 'tt0031381',
 'tt8367814',
 'tt3731562',
 'tt0175880',
 'tt0453467',
 'tt0472043',
 'tt1877830',
 'tt0129387',
 'tt0116367',
 'tt3682448',
 'tt2948372',
 'tt0381849',
 'tt0190590',
 'tt2004420',
 'tt1245526',
 'tt1764651',
 'tt0212720',
 'tt1397280',
 'tt0094226',
 'tt0489099',
 'tt1125849',
 'tt0119528',
 'tt0125439',
 'tt1638355',
 'tt0449467',
 'tt1591095',
 'tt1598778',
 'tt2771200',
 'tt0413267',
 'tt0814314',
 'tt0119008',
 'tt4975722',
 'tt0293662',
 'tt0332379',
 'tt0884328',
 'tt1981677',
 'tt1194173',
 'tt1645170',
 'tt0103776',
 'tt0119177',
 'tt0112471',
 'tt1152836',
 'tt1253863',
 'tt4881806',
 'tt0109040',
 'tt0119822',
 'tt0103644',
 'tt1790809',
 'tt0379786',
 'tt1790885',
 'tt0118880',
 'tt7653254',
 'tt1197624',
 'tt0278504',
 'tt0094721',
 'tt7784604',
 'tt0112384',
 'tt0808151',
 'tt0838283',
 'tt0120201',
 'tt0105323',
 'tt2140479',
 'tt0106977',
 'tt0056172',
 'tt1478338',
 'tt0265666',
 'tt0414387',
 'tt1028528',
 'tt1735898',
 'tt0473075',
 'tt0120623',
 'tt9032400',
 'tt3606756',
 'tt0320661',
 'tt1091191',
 'tt8772262',
 'tt1013752',
 'tt1133985',
 'tt0348150',
 'tt1259571',
 'tt0800320',
 'tt0457939',
 'tt0203009',
 'tt0800039',
 'tt0298203',
 'tt0120762',
 'tt3110958',
 'tt4925292',
 'tt1028532',
 'tt1213663',
 'tt2397535',
 'tt0258000',
 'tt0120669',
 'tt1302011',
 'tt0187078',
 'tt2316204',
 'tt1340138',
 'tt3040964',
 'tt0438097',
 'tt6857112',
 'tt4034228',
 'tt2302755',
 'tt0463854',
 'tt0181875',
 'tt0783233',
 'tt1485796',
 'tt0212985',
 'tt0118884',
 'tt0187393',
 'tt1343727',
 'tt0322259',
 'tt0486655',
 'tt0061722',
 'tt0452623',
 'tt0289765',
 'tt0401729',
 'tt1650554',
 'tt4550098',
 'tt0450385',
 'tt0411477',
 'tt0290002',
 'tt3076658',
 'tt2277860',
 'tt0320691',
 'tt0955308',
 'tt0120611',
 'tt0190332',
 'tt0077651',
 'tt0095327',
 'tt0120804',
 'tt0463985',
 'tt0183649',
 'tt0286716',
 'tt0121164',
 'tt0089218',
 'tt4160708',
 'tt0107614',
 'tt3263904',
 'tt5727208',
 'tt0257044',
 'tt1817273',
 'tt0077631',
 'tt0075686',
 'tt1077368',
 'tt1386588',
 'tt0486576',
 'tt2024469',
 'tt0053291',
 'tt0259711',
 'tt0338526',
 'tt0319343',
 'tt0196229',
 'tt0120812',
 'tt3065204',
 'tt1401152',
 'tt0151804',
 'tt0116695',
 'tt0803096',
 'tt0112442',
 'tt0118749',
 'tt0099348',
 'tt0215750',
 'tt0437086',
 'tt0443272',
 'tt0368447',
 'tt0070735',
 'tt0429493',
 'tt1192628',
 'tt0381681',
 'tt6139732',
 'tt4123430',
 'tt0104257',
 'tt5726616',
 'tt0097757',
 'tt1385826',
 'tt7349662',
 'tt0221027',
 'tt0175142',
 'tt1931533',
 'tt0095765',
 'tt0113189',
 'tt0093409',
 'tt0111503',
 'tt0497465',
 'tt1959490',
 'tt7126948',
 'tt0824747',
 'tt0185937',
 'tt0252866',
 'tt1386703',
 'tt0072890',
 'tt0093870',
 'tt0363547',
 'tt1001526',
 'tt0059578',
 'tt1601913',
 'tt0102057',
 'tt0118688',
 'tt0112462',
 'tt1092026',
 'tt1706593',
 'tt7991608',
 'tt3450958',
 'tt1032755',
 'tt0837562',
 'tt0432348',
 'tt0195714',
 'tt0358273',
 'tt7349950',
 'tt5311514',
 'tt0082096',
 'tt3464902',
 'tt0448134',
 'tt1823672',
 'tt0479884',
 'tt0172156',
 'tt0396171',
 'tt1375670',
 'tt0478087',
 'tt1440129',
 'tt2361509',
 'tt0083944',
 'tt1673434',
 'tt0364725',
 'tt1855199',
 'tt0118583',
 'tt4046784',
 'tt0825232',
 'tt1922777',
 'tt2660888',
 'tt0309698',
 'tt1325004',
 'tt3079380',
 'tt5362988',
 'tt0976051',
 'tt2674426',
 'tt0978764',
 'tt2381941',
 'tt3402236',
 'tt1832382',
 'tt0120660',
 'tt1033575',
 'tt0243155',
 'tt0057115',
 'tt0985699',
 'tt1080016',
 'tt0170016',
 'tt1212450',
 'tt1211956',
 'tt0765443',
 'tt1655442',
 'tt1564367',
 'tt1243957',
 'tt4263482',
 'tt2229499',
 'tt0107818',
 'tt0414993',
 'tt0144117',
 'tt0245712',
 'tt1731141',
 'tt1324999',
 'tt0795421',
 'tt0027977',
 'tt0080678',
 'tt1979376',
 'tt0134847',
 'tt1464540',
 'tt6105098',
 'tt0045152',
 'tt7975244',
 'tt0118655',
 'tt0163978',
 'tt0898367',
 'tt0399146',
 'tt0259324',
 'tt1179904',
 'tt0183505',
 'tt0052618',
 'tt0315733',
 'tt6823368',
 'tt0119643',
 'tt0486822',
 'tt2908446',
 'tt1798684',
 'tt0080339',
 'tt0465234',
 'tt3235888',
 'tt2126355',
 'tt3741834',
 'tt0108550',
 'tt0448011',
 'tt0251127',
 'tt1189340',
 'tt1210819',
 'tt0110632',
 'tt0485947',
 'tt0087800',
 'tt0145660',
 'tt1588173',
 'tt0430922',
 'tt2293640',
 'tt0462499',
 'tt2704998',
 'tt0983193',
 'tt0083987',
 'tt0302886',
 'tt0299658',
 'tt0420223',
 'tt1411238',
 'tt0335345',
 'tt7713068',
 'tt0123755',
 'tt0758774',
 'tt4630562',
 'tt2209764',
 'tt1289401',
 'tt2935510',
 'tt0384537',
 'tt1234721',
 'tt0296572',
 'tt0844471',
 'tt0373469',
 'tt0059742',
 'tt0408306',
 'tt0117509',
 'tt2582782',
 'tt0092890',
 'tt0119282',
 'tt0116996',
 'tt5442430',
 'tt1959563',
 'tt0432283',
 'tt4196776',
 'tt0138097',
 'tt1424381',
 'tt0108399',
 'tt1436562',
 'tt0479952',
 'tt1124035',
 'tt4846340',
 'tt1220719',
 'tt0265208',
 'tt9243946',
 'tt1599348',
 'tt0120855',
 'tt0427944',
 'tt0109445',
 'tt0032553',
 'tt1649419',
 'tt2184339',
 'tt0087538',
 'tt0409847',
 'tt2334879',
 'tt0087363',
 'tt0435625',
 'tt0327597',
 'tt0133152',
 'tt0287978',
 'tt7888964',
 'tt0311113',
 'tt0043014',
 'tt0246460',
 'tt3228774',
 'tt0116483',
 'tt0050212',
 'tt5109784',
 'tt0117665',
 'tt2321549',
 'tt1142988',
 'tt0416320',
 'tt0120655',
 'tt1132620',
 'tt0376541',
 'tt0094737',
 'tt0425061',
 'tt0333766',
 'tt1139797',
 'tt0266915',
 'tt2719848',
 'tt0106519',
 'tt1051906',
 'tt1980209',
 'tt0112281',
 'tt0374900',
 'tt10838180',
 'tt1321870',
 'tt0479143',
 'tt0187738',
 'tt3553976',
 'tt0305224',
 'tt0064115',
 'tt0142342',
 'tt0058461',
 'tt0098635',
 'tt0099653',
 'tt1605630',
 'tt1972591',
 'tt2883512',
 'tt0914798',
 'tt0103874',
 'tt1148204',
 'tt1219827',
 'tt0210945',
 'tt5164214',
 'tt0959337',
 'tt0063522',
 'tt1365519',
 'tt0481499',
 'tt0250494',
 'tt0128853',
 'tt1291150',
 'tt1272878',
 'tt0281358',
 'tt1077258',
 'tt0431308',
 'tt5580036',
 'tt0117381',
 'tt1046173',
 'tt0146316',
 'tt0112697',
 'tt2404435',
 'tt0356150',
 'tt5700672',
 'tt0499448',
 'tt0452608',
 'tt0295178',
 'tt2005151',
 'tt0339291',
 'tt1623205',
 'tt1305806',
 'tt1606378',
 'tt8228288',
 'tt0181865',
 'tt0397892',
 ...]

In [112]:
df.dropna(inplace=True) 
movie_ids = list(set(movie_ids).intersection(set(df.index)))
final_df = final_df.loc[movie_ids]

In [85]:
# Each key corresponds to a Movie, holds a dictionary of top actors and 1 / 0 designation for if it has that 
# Note, I thought it would be good to include the non_top_100 actors as just the total count they have instead of 1/0
# Can change this if it isnt accurate, but I thought it better captured the random actors. 
top_actor_encodings = {} 
# Pandas .loc is extremely expensive for such large tables, so its better to do this in one pass 
# Only doing the .loc once saves a ton of computation for each movie 


for movie_id in set(df.index):
    top_actor_encodings[movie_id] = {}
    lof_actors = df.loc[movie_id]
    sof_actors = set(lof_actors['nconst'])
    for actor in top_actors:
        if actor in sof_actors:
            top_actor_encodings[movie_id][actor] = 1 
        else:
            top_actor_encodings[movie_id][actor] = 0
    number_of_non_top = len(sof_actors.difference(set(top_actors)))
    top_actor_encodings[movie_id]['non_100'] = number_of_non_top

In [117]:
# Now go through and actually create the one-hot encoding columns 

# Some movies are missing data so we drop those 
movie_ids = set(final_df.index).intersection(set(df.index))
final_df = final_df.loc[movie_ids] 
print(final_df.shape)

# Adding the one-hot encoded columns 
for actor in top_actors + ['non_100']:
    column = []
    for movie_id in final_df.index:
        # If this movie has no data, we can just put zero as they do not have that actor 
        if movie_id not in top_actor_encodings:
            column.append(0)
            continue 
#         if movie_id not in top_actor_encodings:
#             bad_ids.add()
        
        column.append(top_actor_encodings[movie_id][actor])
    col_name = f"actor_{actor}"
    final_df[col_name] = column

(69955, 8)

In [118]:
final_df

,averageRating,numVotes,isAdult,startYear,runtimeMinutes,genres,directors,writers,actor_nm0555550,actor_nm0245596,...,actor_nm2505304,actor_nm7692367,actor_nm4025731,actor_nm0906525,actor_nm0542635,actor_nm0166787,actor_nm3675884,actor_nm0661791,actor_nm1796730,actor_non_100
tconst,,,,,,,,,,,,,,,,,,,,,
tt2126403,7.2,2623.0,0,2013.0,97.0,"Documentary,Music",nm0276349,\N,0,0,...,0,0,0,0,0,0,0,0,0,9
tt0252695,7.8,8943.0,0,1975.0,79.0,"Comedy,Crime,Drama",nm0251027,nm0784149,0,0,...,0,0,0,0,0,0,0,0,0,8
tt2425486,6.9,8839.0,0,2013.0,110.0,"Comedy,Drama,Romance",nm0133326,"nm0133326,nm1752036",0,0,...,0,0,0,0,0,0,0,0,0,8
tt0246266,6.9,2690.0,0,2000.0,88.0,"Drama,War",nm0538533,"nm0538532,nm0538533,nm2302158",0,0,...,0,0,0,0,0,0,0,0,0,6
tt5029208,6.3,754.0,0,2017.0,126.0,"Action,Biography,Drama",nm1641326,"nm0354416,nm1641326",0,0,...,0,0,0,0,0,0,0,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt0427873,6.7,355.0,0,2005.0,95.0,"Comedy,Drama",nm0838499,"nm0838499,nm0625080,nm0503931",0,0,...,0,0,0,0,0,0,0,0,0,7
tt6494358,7.5,958.0,0,2017.0,123.0,Documentary,nm1218774,\N,0,0,...,0,0,0,0,0,0,0,0,0,8
tt0297753,6.0,4016.0,0,2003.0,85.0,"Adventure,Animation,Family","nm0969927,nm1065068","nm1668145,nm1065068,nm1065397,nm1457654,nm1132...",0,0,...,0,0,0,0,0,0,0,0,0,4
tt0019760,8.4,24481.0,0,1929.0,68.0,"Documentary,Music",nm0895048,nm0895048,0,0,...,0,0,0,0,0,0,0,0,0,6
tt3074784,5.8,716.0,0,2013.0,104.0,"Comedy,Drama",nm0002167,"nm0002167,nm3291357",0,0,...,0,0,0,0,0,0,0,0,0,8

In [119]:
# Finally, encode the following columns 
for col in ['genres', 'directors', 'writers']:
    final_df = encode_column(final_df, col)
final_df

,averageRating,numVotes,isAdult,startYear,runtimeMinutes,actor_nm0555550,actor_nm0245596,actor_nm0068501,actor_nm0001825,actor_nm0138287,...,writers_nm5238285,writers_nm3298048,writers_nm1018426,writers_nm1889381,writers_nm9555338,writers_nm1493942,writers_nm0470741,writers_nm2562555,writers_nm2010047,writers_non_100_category
tconst,,,,,,,,,,,,,,,,,,,,,
tt2126403,7.2,2623.0,0,2013.0,97.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0252695,7.8,8943.0,0,1975.0,79.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt2425486,6.9,8839.0,0,2013.0,110.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0246266,6.9,2690.0,0,2000.0,88.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt5029208,6.3,754.0,0,2017.0,126.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt0427873,6.7,355.0,0,2005.0,95.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt6494358,7.5,958.0,0,2017.0,123.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0297753,6.0,4016.0,0,2003.0,85.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt0019760,8.4,24481.0,0,1929.0,68.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tt3074784,5.8,716.0,0,2013.0,104.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [120]:
final_df.to_csv(f"merged70k.csv")